
.third {
    /* display: -webkit-box; */
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 5px;
    /* -webkit-box-pack: justify; */
    /* justify-content: space-between; */
    /* -webkit-box-align: start; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    /* margin: 1em 0; */
	align-items: center;
}

.fill a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.third a img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logos img {
  max-width: 250px;
  border: 1px solid #000000;
  border-radius: 15px;
}