
.container-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	gap:15px;
	/* max-width: 800px; */
	padding-top:20px;
}

.container-item {
	display: flex;
	flex: calc(100% / 2);
	flex-direction: column;
	background-color: #C7C7C7;
	border: 5px solid #C7C7C7;
	padding: 10px;
	border-radius: 5px;
	max-width: 300px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	}