---
layout: single
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3> -->

<!-- {% if paginator %} -->
  <!-- {% assign posts = paginator.posts %} -->
<!-- {% else %} -->
  <!-- {% assign posts = site.posts %} -->
<!-- {% endif %} -->

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %} -->
<!-- <div class="entries-{{ entries_layout }}"> -->
  <!-- {% for post in posts %} -->
    <!-- {% include archive-single.html type=entries_layout %} -->
  <!-- {% endfor %} -->
<!-- </div> -->

<!-- {% include paginator.html %} -->



  <!-- <div class="member-grid"> -->

<!-- {% for member in site.data.members %} -->


	<!-- <div itemscope.itemtype="https://schema.org/Person"> -->
	
		<!-- <div class="member-content"> -->

		<!-- <img src="/assets/images/asellus_logo.png" alt="The Asellus Consortium" itemprop="image"> -->
		<!-- <p> {{ member.name }} </p> -->
		<!-- <p> {{ member.website }} </p> -->
		<!-- <p> {{ member.twitter }} </p> -->
	
		<!-- <div class="member-bio" itemprop="description"> -->
			<!-- <p> {{ member.bio }} </p> -->
		<!-- </div> -->
		<!-- </div> -->
	<!-- </div> -->
<!-- {% endfor %} -->
	<!-- </div> -->
